@import 'tailwindcss';

.container {
    @apply flex items-center gap-1;
}

.button {
    @apply px-4 py-2 rounded-lg font-semibold cursor-pointer;
    background: #e0e0e0;
    color: var(--color-text);
}
.button:hover {
    background: #bdbdbd;
}

.buttonDisabled {
    @apply px-4 py-2 rounded-lg font-semibold disabled:opacity-50 disabled:cursor-not-allowed;
    background: #e0e0e0;
    color: var(--color-text);
}
.buttonDisabled:hover:not(:disabled) {
    background: #bdbdbd;
}

.buttonActive {
    @apply px-4 py-2 rounded-lg font-semibold cursor-pointer;
    background: #BDBDBD;
    color: var(--color-text);
}
.buttonActive:hover {
    background: #bdbdbd;
}

